<html>
    <head>
        <meta charset="UTF-8">
        <title> Watch Word </title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="icon" href="/static/logo.png">
    </head>
</html>
<body> 
    <header>
        <h1> Watch Word </h1>
        <div class="Button_container">
            <a href="#" class="rainbow-button" alt="Shuffle"></a>
        </div>
        <div class = "fullscreen">
            <h2> Recommended for you </h2>
            <div class="container" >
                <div class="card card_1" id="image1",  >
                    <div class="content">
                        <img src="https://lumiere-a.akamaihd.net/v1/images/e9fa83c7242fb46fa962150a60301d4e_2764x4096_7a402a9f.jpeg?region=0,0,2764,4096">
                        <div class="title">
                          <text>paoDAD</text>
                        </div>
                    </div>
                </div>
                <div class="card card_1" id="image1"></div>
                <div class="card card_1" id="image1"></div>
                <div class="card card_1" id="image1"></div>
            </div>
</body>