<html>
    <head>
        <meta charset="UTF-8">
        <title> Watch Word </title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="icon" href="/static/logo.png">
    </head>
</html>

<body> 
    <header>
        <h1> Watch Word </h1>
        <div class="Button_container">
            <a href="#" class="rainbow-button" alt="Shuffle"></a>
        </div>
        <div class = "fullscreen">
            <h2> Recently Watch </h2>
            <div class="container" >
                <div class="card card_1" id="image1">
                    <div class="content">
                        <div class="title">
                          <text>HHHHH</text>
                        </div>
                    </div>
                </div>
                <div class="card card_1" id="image1"></div>
                <div class="card card_1" id="image1"></div>
                <div class="card card_1" id="image1"></div>
            </div>
            <h2> Recommended for you </h2>
            <div class="container" >
                <div class="card card_1" id="image1"></div>
                <div class="card card_1" id="image1"></div>
                <div class="card card_1" id="image1"></div>
                <div class="card card_1" id="image1"></div>
            </div>
        </div>
</body>